extends print_layout 
block certificate
  #birth.grid.mb-4.pb-10.px-8.mx-4.rounded-3xl.bg-gray-200.border-4.border-green-400.h-screen.overflow-y-auto.items-center 
    .bg-white.shadow-2xl.h-screen.overflow-y-auto.mx-auto(class='w-4/6')
      .flex.flex-col.h-screen.mx-auto(class='w-5/6')
        .grid.grid-cols-2.justify-between.items-center.space-x-2.h-64
          .flex.flex-col.h-full.items-center.p-6.text-l.space-y-2
            .flex.flex-col.items-center
              p PROVINCE
              .border-b-4.border-dotted.border-gray-800.px-2
                p.text-3xl North West
            .flex.flex-col.items-center
              p DEPARTMENT
              .border-b-4.border-dotted.border-gray-800.px-10
                p.text-3xl Mezam
            .flex.flex-col.items-center
              p SUBDIVISION
              .border-b-4.border-dotted.border-gray-800.px-12
                p.text-3xl Santa
          .flex.flex-col.items-center.h-full.p-6.text-xl
            .flex.flex-col.items-center
              p.uppercase.font-semibold Republic of Cameroon
              p Peace - Work - Fatherland
            div
              img.h-40.w-40(src='/images/stamp1.png' alt='stamp')
        .space-y-4
          .flex.flex-col.items-center.space-y-2
            h3.text-xl.font-semibold CIVIL STATUS REGISTRATION CENTRE
            p
              | of 
              span.pl-4.text-3xl.border-b-4.border-dotted.border-gray-800 Santa Rurul Council
          .flex.flex-row.justify-center.space-x-12
            .text-3xl
              h2.font-semibold BIRTH CERTIFICATE
            div
              p
                | No 
                span.pl-4.border-b-4.border-dotted.border-gray-800.text-2xl 786/98
        .grid.grid-cols-2.items-center.pb-8
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Name of the child
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.fullName
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold On The
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.born_on.toDateString()
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Was born at
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.born_at
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Sex
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.sex
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Of
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-dotted.border-b-4.border-gray-800
            p=birth.father_name
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Born AT
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.father_born_at
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Resident at
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.father_resident_at
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Occupation
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.father_occupation
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold And of
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.mother_name
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Born AT
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.mother_born_at
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold On the
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.mother_born_on.toDateString()
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Resident at
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.mother_resident_at
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Occupation
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p=birth.mother_occupation
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Drawn up on the
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p
              | Certificate of 
              span=birth.drawn_up_on.toDateString()
          .ml-20.col-span-2.flex.flex-col.h-8.p-6.text-l.text-xl.my-4
            p.font-semibold.text-2xl Who attested to the truth of this declaration,
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Officer
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p Martin Foumbam
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold By Us, Civil Status Registrar for
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p Santa Rural Council
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold In the presence of 
          .text-3xl.flex.flex-col.justify-center.h-8.border-dotted.border-b-4.border-gray-800
            p Nda Mobang
          .ml-20.flex.flex-col.h-8.p-6.text-l.text-xl
            p.font-semibold Civil Status Registrar
            img.mx-auto.flex.justify-center.h-40.w-40(src='/images/stamp1.png' alt='stamp')
            p.flex.justify-center Secretary Stamp
          .text-3xl.flex.flex-col.h-8.pt-12
            img.h-40.w-40.mx-auto(src='/images/stamp2.png' alt='stamp-2')
            p.flex.justify-center.text-xl Civil Status Registrar Stamp
